body {
    background: url(/img/frame.png) no-repeat fixed center 30px;
    background-size: 402px;
}

body.app {
    max-width: $mw;
}

#app-frame {
    width: 360px;
    height: 600px;
    position: relative;
    top: 140px;
    overflow-x: hidden;
    overflow-y: auto;

    header {
        top: 100px;
    }

    main {
        padding: 0;
    }

    .decision-buttons {
        top: 680px;
        bottom: auto;
    }

    #dialog {
        height: 640px;
        top: 100px;
    }
}

.decision-buttons--decide,
.decision-buttons--gallery {
    max-width: $mw;
}

#dialog {
    max-width: $mw;
}

.app header {
    max-width: $mw;
}

.property--book {
    max-width: $mw;
}

.property--star {
    max-width: $mw;
}

.property--no {
    max-width: $mw;
}

.property--next {
    max-width: $mw;
}