* {
   box-sizing: border-box;
}

footer, header, main, nav {
    display: block;
}

body {
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
}

.padding {
    padding-left: 15px;
    padding-right: 15px;
}