* {
    box-sizing: border-box;
}

footer, header, main, nav {
    display: block;
}

body {
    min-width: 320px;
    margin: 0;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
}

.padding {
    padding-left: 15px;
    padding-right: 15px;
}