* {
   box-sizing: border-box;
}

footer, header, main, nav {
    display: block;
}

body {
    margin: 0;
}

main {
    padding-top: 60px;
    padding-bottom: 15px;
}

.centre {
    width: 100%;
    margin: 0 auto;
}

.padding {
    padding-left: 15px;
    padding-right: 15px;
}