#dialog {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    z-index: 10;
    background: rgba(255,255,255,.95);
}

#dialog.dialog--show {
    display: block;
}

.dialog--show {
    position: fixed;
    overflow: hidden;
}

#dialog-heading {
    height: 60px;
    display: block;
    margin: 0;
    color: $white;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 60px;
    background: $dgrey;
}

#dialog-text-wrapper {
    width: 100%;
    height: 100%;
    display: table;
    padding-top: 60px;
    padding-bottom: 60px;
    position: absolute;
    top: 0;
    text-align: center;

    #dialog-text {
        display: table-cell;
        vertical-align: middle;
    }
}

#dialog-buttons {
    width: 100%;
    padding-bottom: 15px;
    position: absolute;
    bottom: 0;
}

.dialog--alert,
.dialog--error {
    #dialog-button-n {
        display: none;
    }

    #dialog-button-y {
        width: 100%;
    }
}

.dialog--prompt {
    #dialog-button-n {
        width: 47%;
        float: left;
    }

    #dialog-button-y {
        width: 47%;
        float: right;
    }
}

@media ($c) {
    #dialog {
        left: 600px;
    }

    .dialog--show {
        margin-left: -600px;
        left: 50%;
    }
}