input[type='checkbox'] {
    position: absolute;
    opacity: 0;

    & + .checkbox-style {
        width: 44px;
        height: 22px;
        border: 2px solid #333;
        border-radius: 2px;
        display: block;
        position: relative;
        background: #EEE;
    }

    & + .checkbox-style:after {
        content: '';
        width: 18px;
        height: 16px;
        border: 1px solid #EEE;
        position: absolute;
        right: 0;
        background: #999;
    }

    &:checked + .checkbox-style:after {
        left: 0;
        background: #F90;
    }

    &:focus + .checkbox-style {
        border-color: #F90;
    }
}

input[type='radio'] {
    position: absolute;
    opacity: 0;

    & + .radio-style:before {
        content: '';
        width: 20px;
        height: 20px;
        border: 2px solid #333;
        border-radius: 50%;
        display: inline-block;
        margin-right: 5px;
        background: #EEE;
    }

    &:checked +.radio-style:before {
        background: #F90;
    }

    &:focus + .radio-style:before {
        border-color: #F90;
    }
}

input[type='text'],
input[type='password'],
input[type='number'],
input[type='date'],
input[type='tel'],
textarea {
    border: 2px solid #333;
    border-radius: 2px;
    padding: 4px;
    outline: 0;
    background: #EEE;

    &:focus {
        border-color: #F90;
    }
}

input[disabled],
input[readonly] {
    border-color: transparent;

    &:focus {
        border-color: transparent;
    }
}