.form-row {
    margin-bottom: 25px;
}

.form-row--half {
    width: 48%;
    float: left;
}

.form-row--half:nth-child(odd) {
    margin-right: 2%;
}

.form-row--half:nth-child(even) {
    margin-left: 2%;
}

.form-row--hide {
    display: none;
}

label {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
}

input[type='checkbox'] {
    position: absolute;
    left: -999%;
    opacity: 0;

    & + .checkbox-style {
        width: 44px;
        height: 22px;
        border: 2px solid $dgrey;
        border-radius: 2px;
        display: block;
        margin-bottom: 0;
        position: relative;
        cursor: pointer;
        background: $lgrey;
    }

    & + .checkbox-style:after {
        content: '';
        width: 18px;
        height: 16px;
        border: 1px solid $lgrey;
        position: absolute;
        right: 0;
        background: $mgrey;
    }

    &:checked + .checkbox-style:after {
        left: 0;
        background: $orange;
    }

    &:focus + .checkbox-style {
        border-color: $orange;
    }
}

input[type='radio'] {
    position: absolute;
    left: -999%;
    opacity: 0;

    & + .radio-style {
        width: auto;
        display: inline-block;
        margin-right: 15px;
        cursor: pointer;
        font-weight: 400;
        line-height: 26px;
        vertical-align: top;
    }

    & + .radio-style:before {
        content: '';
        width: 20px;
        height: 20px;
        border: 2px solid $dgrey;
        border-radius: 50%;
        display: inline-block;
        margin-right: 5px;
        background: $lgrey;
    }

    &:checked +.radio-style:before {
        background: $orange;
    }

    &:focus + .radio-style:before {
        border-color: $orange;
    }
}

input[type='text'],
input[type='password'],
input[type='number'],
input[type='date'],
input[type='tel'],
textarea,
select {
    width: 100%;
    height: 32px;
    border: 2px solid $dgrey;
    border-radius: 2px;
    padding: 4px;
    outline: 0;
    background: $lgrey;

    &:focus {
        border-color: $orange;
    }
}

input[type='date'] {
    padding-right: 0;
}

input[type='date']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    color: transparent;
    width: 20px;
    height: 26px;
    margin-left: 5px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5QTFRFhYWF/v7+6enp29vbyMjItLS09fX1ZmZmn5+fXFxcWQ3esAAAAKpJREFUeNq0k90agyAIQOVHwvd/4SELYyx31bg4X3ZCULMdP6M9oMeMnVaBCLkgLfQcgJCq4gUI3UwRYrdHdujEXveiARG2Ws+2ZHawkDT13m32gA+T1s95J3rS/pIXau2b7KwFEWXhPUwamRkL/tGanSyrIWcjEYlDFm5bA9/Psqkx+WBfE5aFRWuDZJXZZ/ve5AO1z098125sgpgL2s1/PlY8dku28RJgANRPEyEDx80dAAAAAElFTkSuQmCC) no-repeat;
}

input[disabled],
input[readonly] {
    border-color: transparent;

    &:focus {
        border-color: transparent;
    }
}

input[type='submit'] {
    width: 100%;
}

.hint {
    color: $mgrey;
    font-size: 14px;
}

.hint--date {
    display: inline;
}

@media (-webkit-min-device-pixel-ratio: 0) {
    .hint--date {
        display: none;
    }
}