@font-face {
	font-family: 'Student-Rooma-Icon-Font';
	src:url('/fonts/Student-Rooma-Icon-Font.eot?-1qgjdl');
	src:url('/fonts/Student-Rooma-Icon-Font.eot?#iefix-1qgjdl') format('embedded-opentype'),
		url('/fonts/Student-Rooma-Icon-Font.woff?-1qgjdl') format('woff'),
		url('/fonts/Student-Rooma-Icon-Font.ttf?-1qgjdl') format('truetype'),
		url('/fonts/Student-Rooma-Icon-Font.svg?-1qgjdl#Student-Rooma-Icon-Font') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ico-"],
[class*=" ico-"] {
    display: inline-block;
    margin-right: 15px;
	font-family: 'Student-Rooma-Icon-Font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	span {
		position: absolute;
		left: -9999px;
	}
}

.ico--centre {
    margin-right: 0;
}

a[class*="ico-"] {
    text-decoration: none;
}

.ico-activity:before {
	content: "\61";
}
.ico-home:before {
	content: "\68";
}
.ico-arrow-back:before {
	content: "\62";
}
.ico-arrow-left:before {
	content: "\6c";
}
.ico-arrow-right:before {
	content: "\72";
}
.ico-cross:before {
	content: "\78";
}
.ico-pointer:before {
	content: "\70";
}
.ico-profile:before {
	content: "\50";
}
.ico-refresh:before {
	content: "\52";
}
.ico-search:before {
	content: "\73";
}
.ico-star:before {
	content: "\2a";
}
.ico-tick:before {
	content: "\74";
}