.app-index {
    background: url(/img/index-bkg.jpg) no-repeat center fixed;
    background-size: cover;

    main {
        padding-top: 40px;
        padding-bottom: 15px;
        text-align: center;
    }

    header {
        height: auto;
        padding: 15px;
        position: relative;
    }

    #logo {
        width: 70%;
        max-width: 400px;
        margin: 0;
    }
}

#slogan {
    width: 70%;
    margin: 10px auto;
    color: $white;
    font-size: 14px;
    font-weight: 700;
}

.login-buttons {
    width: 85%;
    max-width: 320px;
    height: 40px;
    border-radius: 20px;
    position: relative;
    padding: 0;
    font-size: 14px;
    line-height: 40px;

    i {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 5px;
        font-size: 20px;
        line-height: 40px;
    }

    span {
        margin-left: 20px;
    }
}

#login-fb-btn {
    background: #39579B;

    &:hover,
    &:focus {
        box-shadow: 0 0 0 2px #6D84B4;
    }

    i {
        border-right: 1px solid #38528C;
    }
}

#login-fb-btn.login--loading {
    i {
        font-size: 0;
        background: url(/img/spinner-fb.gif) no-repeat center;
    }
}

#login-email-btn {
    display: block;
    margin: 20px auto 0;

    i {
        border-right: 1px solid #292929;
    }
}

#login-email-form,
#create-account-form,
#forgotten-password-form {
    width: 85%;
    max-width: 320px;
    margin: 20px auto 0;
    display: none;
}

#login-email-form.login-email-form--show,
#create-account-form.create-account-form--show,
#forgotten-password-form.forgotten-password-form--show {
    display: block;
}

#walkthrough-wrapper {
    max-width: 400px;
    height: 590px;
    background: $white;
    position: relative;
    margin: 40px auto;
}

$slideDuration: 5s;
$noOfSlides: 7;

.walkthrough-slide {
    width: 100%;
    background: $white;
    position: absolute;
    padding: 10px;
    opacity: 0;
    animation: walkthrough $noOfSlides * $slideDuration infinite;

    img {
        max-height: 450px;
    }
}

@keyframes walkthrough {
    0%   { opacity: 1 }
    19%  { opacity: 1 }
    20%  { opacity: 0 }
    99%  { opacity: 0 }
    100% { opacity: 1 }
}

@for $i from 1 through $noOfSlides {
    #walkthrough-#{$i} {
        animation-delay: $i * $slideDuration - $slideDuration;
        z-index: $noOfSlides + 1 - $i;
    }
}

.walkthrough-page {
    margin: 5px 0 15px;
    font-size: 18px;
}

#small-print {
    margin: 15px auto;

    p {
        font-size: 9px;
        text-shadow: 0 0 5px $mgrey;
    }

    a {
        border-bottom: 1px solid $dgrey;
        color: $dgrey;
        text-decoration: none;

        &:hover,
        &:focus {
            border-bottom: 1px solid $orange;
            color: $orange;
        }
    }
}

#copyright {
    font-size: 9px;
    font-weight: 700;
    text-shadow: 0 0 5px $mgrey;
}