.stepper {
    position: relative;

    input {
        text-align: center;
    }
}

#rooms-decrement {
    position: absolute;
    border-radius: 2px 0 0 2px;
}

#rooms-increment {
    border-radius: 0 2px 2px 0;
    position: absolute;
    top: 0;
    right: 0;
}