.index {
    background: url(/img/index-bkg.jpg) no-repeat center fixed;
    background-size: cover;

    main {
        padding-top: 40px;
        padding-bottom: 15px;
        text-align: center;
    }

    header {
        height: auto;
        padding: 15px;
        position: relative;
    }

    #logo {
        width: 70%;
        max-width: 400px;
        margin: 0;
    }
}

#slogan {
    width: 70%;
    margin: 10px auto;
    color: $white;
    font-size: 14px;
    font-weight: 700;
}

#login {
    width: 85%;
    max-width: 320px;
    height: 40px;
    border-radius: 20px;
    position: relative;
    padding: 0;
    font-size: 14px;
    line-height: 40px;
    background: #39579B;

    &:hover,
    &:focus {
        box-shadow: 0 0 0 2px #6D84B4;
    }

    i {
        width: 40px;
        height: 40px;
        border-right: 1px solid #38528C;
        position: absolute;
        left: 5px;
        font-size: 20px;
        line-height: 40px;
    }

    span {
        margin-left: 20px;
    }
}

#login.login--loading {
    i {
        font-size: 0;
        background: url(/img/spinner-fb.gif) no-repeat center;
    }
}

#walkthrough-wrapper {
    max-width: 400px;
    height: 590px;
    background: $white-a;
    position: relative;
    margin: 40px auto;
}

.walkthrough-slide {
    width: 100%;
    position: absolute;
    padding: 10px;

    img {
        max-height: 450px;
    }
}

.walkthrough-page {
    margin: 5px 0 15px;
    font-size: 18px;
}

@for $i from 1 through 5 {
    #walkthrough-#{$i} {
        animation: walkthrough-#{$i} 30s infinite;
    }
}

@keyframes walkthrough-1 {
    0%   { opacity: 1 }
    19%  { opacity: 1 }
    20%  { opacity: 0 }
    99%  { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes walkthrough-2 {
    0%   { opacity: 0 }
    19%  { opacity: 0 }
    20%  { opacity: 1 }
    39%  { opacity: 1 }
    40%  { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes walkthrough-3 {
    0%   { opacity: 0 }
    39%  { opacity: 0 }
    40%  { opacity: 1 }
    59%  { opacity: 1 }
    60%  { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes walkthrough-4 {
    0%   { opacity: 0 }
    59%  { opacity: 0 }
    60%  { opacity: 1 }
    79%  { opacity: 1 }
    80%  { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes walkthrough-5 {
    0%   { opacity: 0 }
    79%  { opacity: 0 }
    80%  { opacity: 1 }
    99%  { opacity: 1 }
    100% { opacity: 0 }
}

#small-print {
    margin: 15px auto;

    p {
        font-size: 9px;
        text-shadow: 0 0 5px $mgrey;
    }

    a {
        border-bottom: 1px solid $dgrey;
        color: $dgrey;
        text-decoration: none;

        &:hover,
        &:focus {
            border-bottom: 1px solid $orange;
            color: $orange;
        }
    }
}

#copyright {
    font-size: 9px;
    font-weight: 700;
    text-shadow: 0 0 5px $mgrey;
}