.availability-row {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    float: left;
    background: $lgrey;
}

.availability-address {
    margin-bottom: 15px;
    font-weight: 700;
}

.availability-rooms {
    overflow: hidden;
}

.availability-room {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;

    &.spinner--show {
        background: url(/img/spinner.gif) no-repeat center bottom;
        background-size: 22px;

        > .checkbox-style {
            visibility: hidden;
        }
    }
}

@media ($c) {

    .availability-row {
        width: 48%;
        margin: 1%;
    }

}