#landlord {
	background: url(../img/landing/landlord-bkg.jpg) center no-repeat;
	background-size: cover;
	h1 {
		max-width: 100%;
		margin-bottom: 20px;
	}
	h2 {
		margin-bottom: 60px;
		color: $orange;
		font-weight: 200;
		/*font-size: 48px;
		line-height: 58px;*/
		max-width: 100%;
	}
}

#pricing {
	width: 100%;
	margin-top: 40px;
	ul {
		margin-bottom: 0;
		max-width: 400px;
	}
	li {
		font-size: 18px;
		font-weight: 400;
	}
}

.price {
	padding: 20px;
	border: 5px solid $white;
	overflow: hidden;
	margin-bottom: 40px;
}

.price-text {
	/*width: 25%;*/
	float: left;
	margin-right: 60px;
}

.price-number {
	color: $orange;
	margin-bottom: 0px;
	margin-top: 0;
	font-size: 90px;
	font-weight: 800;
}

.how {
	margin-bottom: 60px;
	padding-right: 20px;
	img {
		width: 100%;
		margin: 0 auto;
		display: block;
		/*max-width: 200px;*/
		/*border-radius: 50%;*/
		/*border: 3px solid $orange;*/
	}
	p {
		margin-top: 40px;
		margin-bottom: 0px;
		font-size: 18px;
	}
}

.third, .half, .third-margin {
	width: (100%/1);
	float: left;
}

@media ($a) {

	.how {
		margin-bottom: 0;
	}

	.half {
		width: (100%/2);
	}

	.third {
		width: (100%/3);
	}

    .third-margin {
        width: (94%/3);
        margin-left: 1%;
        margin-right: 1%;
    }

    .third-margin:first-of-type {
        margin-left: 0;
        margin-right: 2%;
    }

    .third-margin:last-of-type {
        margin-left: 2%;
        margin-right: 0;
    }

    p.third-margin {
        width: (97%/1);
        margin-left: 0;
        margin-right: 0;
    }

    p.third-margin:first-of-type {
        margin-left: 0;
        margin-right: 0;
    }

    p.third-margin:last-of-type {
        margin-left: 0;
        margin-right: 0;
    }

}

@media ($b) {

    p.third-margin {
        width: (97%/3);
        margin-left: .5%;
        margin-right: .5%;
    }

    p.third-margin:first-of-type {
        margin-left: 0;
        margin-right: 1%;
    }

    p.third-margin:last-of-type {
        margin-left: 1%;
        margin-right: 0;
    }

}