.index {
    background: url(/img/index-bkg.jpg) no-repeat center fixed;
    background-size: cover;

    main {
        padding-top: 40px;
        padding-bottom: 15px;
        text-align: center;
    }

    header {
        height: auto;
        padding: 15px;
        position: relative;
    }

    #logo {
        width: 70%;
        max-width: 400px;
        margin: 0;
    }
}

#slogan {
    width: 70%;
    margin: 10px auto;
    color: $white;
    font-size: 14px;
    font-weight: 700;
}

#login {
    width: 85%;
    max-width: 320px;
    height: 40px;
    border-radius: 20px;
    position: relative;
    padding: 0;
    font-size: 14px;
    line-height: 40px;
    background: #39579B;

    &:hover,
    &:focus {
        box-shadow: 0 0 0 2px #6D84B4;
    }

    i {
        width: 40px;
        height: 40px;
        border-right: 1px solid #38528C;
        position: absolute;
        left: 5px;
        font-size: 20px;
        line-height: 40px;
    }

    span {
        margin-left: 20px;
    }
}

#login.login--loading {
    i {
        font-size: 0;
        background: url(/img/spinner-fb.gif) no-repeat center;
    }
}

#why-continue {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 700;
}

#youtube-wrapper {
    width: 95%;
    height: 0;
    margin: 0 auto;
    padding-bottom: 56.25%;
    position: relative;
    cursor: pointer;
    text-align: left;

    img {
        width: 100%;
        height: 100%;
    }

    iframe {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    &:after {
        content: '';
        width: 60px;
        height: 42px;
        margin-top: -21px;
        margin-left: -30px;
        position: absolute;
        top: 50%;
        left: 50%;
        background: url(http://www.youtube.com/yt/brand/media/image/YouTube_light_color_icon.png);
        background-size: 60px;
    }
}

.youtube--loaded:after {
    display: none;
}


#small-print {
    margin: 15px auto;

    p {
        font-size: 9px;
        text-shadow: 0 0 5px $mgrey;
    }

    a {
        border-bottom: 1px solid $dgrey;
        color: $dgrey;
        text-decoration: none;

        &:hover,
        &:focus {
            border-bottom: 1px solid $orange;
            color: $orange;
        }
    }
}

#copyright {
    font-size: 9px;
    font-weight: 700;
    text-shadow: 0 0 5px $mgrey;
}