#content-wrapper {
    width: 100%;
    min-height: 350px;
    overflow: hidden;
}

#content-slider {
    width: 300%;
    transform: translate3d(-33.33%,0,0);
}

.content-slider--animate {
    transition: transform .3s ease-out;
}

#content-slider.content-slider--booked {
    transform: translate3d(0,0,0);
}

#content-slider.content-slider--starred {
    transform: translate3d(-33.33%,0,0);
}

#content-slider.content-slider--nos {
    transform: translate3d(-66.66%,0,0);
}

#booked-content,
#starred-content,
#nos-content {
    width: 33.33%;
    float: left;
}

.activity {
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;

    &:nth-child(even) {
        background: $lgrey;
    }
}

.activity-image {
    width: 33%;
    float: left;
    margin-right: 4%;
    margin-bottom: 15px;
}

.activity-price {
    width: 63%;
    display: block;
    float: left;
    margin-bottom: 10px;
    color: $orange;
    font-size: 24px;

    span {
        color: $mgrey;
        font-size: 18px;
    }
}

.activity .ico-pointer {
    float: left;
    color: $mgrey;
    font-size: 20px;
}

.activity-address {
    width: 38%;
    display: block;
    float: left;
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
}

.activity-rooms {
    width: 15%;
    display: block;
    float: right;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;

    i {
        color: $mgrey;
    }
}