.property {
    width: 100%;
    display: none;
    background: $lgrey;
}

.property--active {
    display: block;
}

.properties > .property {
    position: absolute;
    padding-bottom: 60px;
}

.rooms {
    height: 260px;
    position: relative;
}

.tabs {
    height: 30px;
}

.tab {
    height: 100%;
    float: left;
    text-align: center;
    line-height: 30px;
    background: $lgrey;
}

@for $i from 1 through 5 {
    .tabs--#{$i} > .tab {
        width: 100%/$i;
    }
}

.tabs--small > .tab {
    width: 60px;
}

.room-content {
    width: 100%;
    height: 230px;
}

.room {
    position: absolute;
}

.room img {
    width: 100%;
    height: 170px;
    display: block;
}

.room-price {
    float: left;
    color: $orange;
    line-height: 60px;
}

.room-type {
    float: right;
    color: $dgrey;
    line-height: 60px;
}

.room-controls {
    width: 100%;
    height: 170px;
    position: absolute;
    top: 30px;
}

.view-house-gallery {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    text-align: center;
    line-height: 30px;
    background: rgba(51,51,51,.5);
}

.property-map {
    width: 100%;
    display: block;
}

.decision-buttons {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    background: rgba(51,51,51,.5);
}