.property {
    width: 100%;
    display: none;
    overflow: hidden;
    background: $lgrey;
}

.property--active {
    display: block;
}

.property--book {
    position: absolute;
    z-index: 8;
    animation: property--book .6s ease-in forwards;
}

.property--star {
    position: absolute;
    z-index: 8;
    animation: property--star .6s ease-in forwards;
}

.property--no {
    position: absolute;
    z-index: 8;
    animation: property--no .6s ease-in forwards;
}

.property--next {
    display: block;
    position: absolute;
    animation: property--next .6s ease-out forwards;
}

@keyframes property--book {
    0%   { transform: translate3d(0,0,0)     scale(1);  }
    100% { transform: translate3d(30%,70%,0) scale(.3); }
}

@keyframes property--star {
    0%   { transform: translate3d(0,0,0)   scale(1);  }
    100% { transform: translate3d(0,70%,0) scale(.3); }
}

@keyframes property--no {
    0%   { transform: translate3d(0,0,0)      scale(1);  }
    100% { transform: translate3d(-30%,70%,0) scale(.3); }
}

@keyframes property--next {
    0%   { transform: scale(.8); opacity: 0; }
    100% { transform: scale(1);  opacity: 1; }
}

.properties > .property {
    padding-bottom: 75px;
}

.rooms {
    height: 260px;
    position: relative;
}

.tabs {
    height: 30px;
}

.tab {
    height: 100%;
    float: left;
    text-align: center;
    line-height: 30px;
    background: $lgrey;
}

@for $i from 1 through 5 {
    .tabs--#{$i} > .tab {
        width: 100%/$i;
    }
}

.tabs--small > .tab {
    width: 60px;
}

.room-content {
    width: 100%;
    height: 230px;
}

.room {
    position: absolute;
}

.room img {
    width: 100%;
    height: 170px;
    display: block;
}

.room-price {
    float: left;
    color: $orange;
    line-height: 60px;
}

.room-type {
    float: right;
    color: $dgrey;
    line-height: 60px;
}

.room-controls {
    width: 100%;
    height: 170px;
    position: absolute;
    top: 30px;
}

.view-house-gallery {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    text-align: center;
    line-height: 30px;
    background: $dgrey-a;
}

.property-map {
    width: 100%;
    display: block;
}