table {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background: $lgrey;
}

tr.tr--odd {
    background: $white;
}

tr.tr--even {
    background: $lgrey;
}

th,
td {
    padding: 5px;
    vertical-align: top;
}

th {
    text-align: left;
}

.td--centre {
    text-align: center;
    font-weight: 600;
}