table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background: $lgrey;
}

tr:nth-child(even) > td {
    border-right: 1px solid #E2E2E2;
}

tr.highlight {
    background: $orange;
}

th,
td {
    border-right: 1px solid $lgrey;
    padding: 15px;
    vertical-align: top;
}

tr:nth-child(even) > td:last-child,
th:last-child,
td:last-child {
    border-right: 0;
}

th {
    text-align: left;
}

.th--xs {
    min-width: 50px;
}

.th--s {
    min-width: 120px;
}

.th--m {
    min-width: 120px;
}

.th--l {
    min-width: 275px;
}

.td--centre {
    text-align: center;
    font-weight: 600;
}