* {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

body {
    color: $dgrey;
}

h1 {
    display: none;
}

.h1--show {
    display: block;
    text-align: center;
}

p,
li {
    font-size: 14px;
}

a {
    outline: 0;
}

.paragraph-a {
    border-bottom: 1px solid $dgrey;
    color: $dgrey;
    text-decoration: none;

    &:hover,
    &:focus {
        border-bottom: 1px solid $orange;
        color: $orange;
    }
}

.dgrey .paragraph-a {
    border-bottom: 1px solid $white;
    color: $white;
    text-decoration: none;

    &:hover,
    &:focus {
        border-bottom: 1px solid $orange;
        color: $orange;
    }
}

.success {
    color: $green;
}

.error {
    color: $red;
}