* {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

body {
    color: $dgrey;
}

h1 {
    display: none;
}

.h1--show {
    display: block;
}

p,
li {
    font-size: 14px;
}

.error {
    color: $red;
}