RewriteEngine on

RewriteCond %{SERVER_NAME} !sr.dev
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{SERVER_NAME}/$1 [R,L]

RewriteCond %{HTTP_HOST} ^www.studentrooma.co.uk$ [NC]
RewriteRule ^(.*)$ http://studentrooma.co.uk/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ front-controller.php?q=$1 [QSA]

# 1 YEAR CACHE - IMAGES & FONTS

<FilesMatch "\.(ico|gif|jpg|png|eot|svg|ttf|woff)$">
    Header set Cache-Control "max-age=29030400"
</FilesMatch>

# 1 MONTH CACHE - CSS & JAVASCRIPT

<FilesMatch "\.(css|js)$">
    Header set Cache-Control "max-age=2419200"
</FilesMatch>